table {
    border-collapse: collapse;
    width: 1137px;
    margin-left: 20px;
}
  
th, td {
    border-bottom: 1px solid rgb(205, 205, 205);
    padding: 8px;
    text-align: left;
    font-family: sans-serif;
}
  
th,tr {
    background-color: #eee;
    font-weight: bold;
    color: rgb(151, 151, 151);
    font-family: sans-serif;
}
  
th {
  color: rgb(101, 101, 101);
  font-family: sans-serif;
}